.Form-container {
  background-color: tan;
  padding: 4px 8px !important;
  border-radius: 3px;
}

.Submit-rating-container {
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Submit-rating-container > :last-child {
  margin: 0;
  margin-left: auto;
}
