.App {
  height: 100%;
  --calc-height: calc(100% - 280px);
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  color: white;
  padding: 0 16px;
}

.Main-content-container {
  height: var(--calc-height, calc(100% - 280px));
  padding: 16px 28px;
}

.Loader-container {
  height: var(--calc-height, calc(100% - 280px));
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form-container {
  height: 160px;
  background-color: lightgrey;
  padding: 4px 18px !important;
  margin: 10px !important;
  border-radius: 3px;
}

.Submit-rating-container {
  padding: 8px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Submit-rating-container > :last-child {
  margin: 0;
  margin-left: auto;
}

.List-container {
  display: flex;
  padding: 4px 0;
}

.List-delete-button {
  margin: 0 0 0 auto !important;
}

.ui {
  font-family: inherit !important;
}

.error-text {
  font-size: 12px;
  color: red;
}

.no-data-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-image > img {
  height: 100%;
  width: 70%;
}
